*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

section{
    width: 100vw;
    height: 100vh;
    background: rgb(45,176,255);
    background: linear-gradient(158deg, rgba(45,176,255,1) 0%, rgba(6,103,149,1) 100%);
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

form h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    color: #333;
    margin-bottom: 30px;
}

form{
    padding: 40px;
    background-color: #fff;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(45,176,255,1);
}

form input, form label {
    width: 100%;
}

form input{
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

form input[type="submit"]{
    background-color: rgba(45,176,255,1);
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    height: auto;
    border: none;
    cursor: pointer;
}

.result{
    text-align: center;
}